---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Nouha Ismaili" description="About Nouha Ismaili">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
			<!--
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			-->
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Hello! I'm Nouha Ismaili from Tunisia. I'm currently studying IT,
						 and one of my main interests is web development. 
						I've been learning coding languages like HTML, CSS, and JavaScript
						 since September 2023, as well as programming languages like C and Python.
					</p>
					<p>
						I got into web development because I enjoy building things online.
						 I've been practicing by making different websites.
					</p>
					<p>
						When I work with others on projects, I always try to communicate well
						 and contribute where I can.
						 Teamwork is important to me, and I enjoy learning from others.
					</p>
					<p>
						I'm excited to continue learning about web development and programming,
						 and I'm eager to see where these skills will take me in the future.
						 I'm always looking for new opportunities to grow and improve in these areas!
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<ul>
						<li>In 2023, I earned my Baccalauréat in Mathématiques section with honors.</li> 
						<li>Currently, I am in my first year of studying for a Bachelor's degree in IT.</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Experience</h2>
				<div class="content">
					<ul>
						<li>Initiation Internship
							<p>from 11/01/24 to 05/02/24 in SofiaTech</p>
							<p class="new">
								<ul>
									<li>Explored the professional environment</li>
									<li>Developed a CRUD application with Angular and Json Server</li>
									<li>Learned Git and used the Git Workflow</li>
								</ul>
							</p>
						</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<ul>
						<li>Algorithmics and Programming
							<ul>
								<li>Python</li>
								<li>C</li>
							</ul>
						</li>
						<li>Web Development
							<ul>
								<li>HTML</li>
								<li>CSS</li>
								<li>JavaScript</li>
								<li>Angular</li>
							</ul>
						</li>
						<li>Version Control
							<ul>
								<li>Git/GitLab</li>
							</ul>
						</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
	.new{
		padding-left: 50px;;
	}
</style>
